<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="admin/fragments/head :: head(title=${'Logging levels'})">Empty</th:block>
</head>
<body>
<div th:replace="admin/fragments/menu :: menu">Header</div>
<main class="container">

    <h1>Logging levels</h1>
    <div class="row my-5">
        <div class="col-sm-6 mx-auto">
            <form th:action="@{/admin/logger}" method="post" class="form-horizontal">
                <div class="form-group">
                    <label class="input-group-addon" for="package">Package:</label>
                    <input type="text" class="form-control" id="package" name="package" placeholder="Package name"
                           required>
                </div>
                <div class="form-group">
                    <label class="input-group-addon" for="level">Level:</label>
                    <select id="level" class="form-control form-control" name="level">
                        <option value="OFF">OFF</option>
                        <option value="TRACE">TRACE</option>
                        <option value="DEBUG">DEBUG</option>
                        <option value="INFO">INFO</option>
                        <option value="WARN">WARN</option>
                        <option value="ERROR">ERROR</option>
                    </select>
                </div>
                <div class="form-actions">
                    <input type="submit" class="btn btn-block btn-primary" value="Submit">
                </div>
            </form>
        </div>
    </div>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>Package</th>
            <th>Level</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="loggerList" type="java.util.List<ch.qos.logback.classic.Logger>"*/-->
        <tr th:each="logger : ${loggerList}">
            <td scope="row" th:text="${logger.getName()}"></td>
            <td scope="row" th:class="'text-color-' + ${logger.getLevel().toString().toLowerCase()}"th:text="${logger.getLevel()}"></td>
        </tr>
        </tbody>
    </table>
</main>
<footer th:insert="admin/fragments/footer :: footer">
</footer>
</body>
</html>