<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="admin/fragments/head :: head(title=${'Admin'})">Empty</th:block>
</head>
<body>
<div th:replace="admin/fragments/menu :: menu">Header</div>
<main class="container">

    <h1>Found Matches</h1>
    <div th:text="${match}"></div>
</main>
<footer th:insert="admin/fragments/footer :: footer">
</footer>
</body>
</html>