<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="admin/fragments/head :: head(title=${'Admin'})">Empty</th:block>
</head>
<body>
<div th:replace="admin/fragments/menu :: menu">Header</div>
<main class="container">
    <!--/*@thymesVar id="unmappedMatches" type="java.util.List<com.smart8.sportradar.firebase.FbSoccerMatch.FbMiniMatch>"*/-->
    <h1 th:text="'Missing ' + ${unmappedMatches.size()} + ' matches'"></h1>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" th:href="@{/admin/matches-mapping}">Map new</a>
        </li>
    </ul>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th width="5%">Match ID</th>
            <th width="18%">Date</th>
            <th width="17%">Tournament</th>
            <th >Match Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="match : ${unmappedMatches}">
            <td  scope="row" th:text="${match.getId()}"></td>
            <td  scope="row" th:text="${match.getDateTime()}"></td>
            <td  scope="row" th:text="${match.getTournamentName()}"></td>
            <td  scope="row">
                <th:block th:if="${match.getContestants().get(0).getPosition().equals('home') || match.getContestants().get(0).getPosition().equals('1') }">
                    <div th:text="${match.getContestants().get(0).getName()} + ' - ' + ${match.getContestants().get(1).getName()}"></div>
                </th:block>
                <th:block  th:if="${match.getContestants().get(0).getPosition().equals('away') || match.getContestants().get(0).getPosition().equals('2') }">
                    <div th:text="${match.getContestants().get(1).getName()} + ' - ' + ${match.getContestants().get(0).getName()}"></div>
                </th:block>
            </td>
            <td  scope="row">
                <a th:href="@{/admin/matches-mapping/{id}(id=${match.getId()})}">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
</main>
<footer th:insert="admin/fragments/footer :: footer">
</footer>
</body>
</html>