<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="admin/fragments/head :: head(title='Matches mapping')">Empty</th:block>
    <link rel="stylesheet"  type="text/css" href="/css/awesomplete.css"/>
    <script type="text/javascript" src="/js/awesomplete.min.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
</head>
<body>
<div th:replace="admin/fragments/menu :: menu">Header</div>
<main class="container">
    <!--/*@thymesVar id="match" type="com.smart8.sportradar.firebase.FbSoccerMatch.FbMiniMatch"*/-->
    <div class="row bg-light missing-event text-center">
        <div th:if="${match}" class="col-sm-10 mx-auto">
            <h3>
                <span th:text="${match.getDateTime()}"></span>
            </h3>
            <div class="row">
                <div class="col">
                    <!--/*@thymesVar id="missingHomeTeam" type="java.lang.String"*/-->
                    <a th:if="${missingHomeTeam}" th:href="@{/admin/teams-mapping/{id}(id=${missingHomeTeam},
                    team=${match.getContestants().get(0).getName()})}"
                       th:text="${match.getContestants().get(0).getName() + ' - unmapped'}" class="text-danger">
                    </a>
                    <span th:if="!${missingHomeTeam}" th:text="${match.getContestants().get(0).getName()}"></span>
                </div>
                <div class="col">
                    <!--/*@thymesVar id="missingAwayTeam" type="java.lang.String"*/-->
                    <a th:if="${missingAwayTeam}" th:href="@{/admin/teams-mapping/{id}(id=${missingAwayTeam},
                        team=${match.getContestants().get(1).getName()})}"
                       th:text="${match.getContestants().get(1).getName() + ' - unmapped'}" class="text-danger">
                    </a>
                    <span th:if="!${missingAwayTeam}" th:text="${match.getContestants().get(1).getName()}"></span>
                </div>
            </div>
        </div>
        <h3 th:if="!${match}" class="col-sm-10 mx-auto">Create new match mapping</h3>
    </div>
    <div class="row">
        <div class="col-sm-6 mx-auto">
            <h3>Matches Mapping</h3>
            <div th:if="${message}">
                <div th:text="${message}"></div>
            </div>
            <form th:action="@{/admin/matches-mapping}" method="post" class="form-horizontal">
                <div class="form-group">
                    <label class="input-group-addon" for="rmatch-id">Sportradar match ID:</label>
                    <th:block th:if="${match}">
                        <input readonly type="number" class="form-control" name="rmatchid" th:value="${match.getId()}">
                    </th:block>
                    <th:block th:if="!${match}">
                        <input type="number" class="form-control" id="rmatch-id" name="rmatchid" placeholder="Sportradata Match ID" required>
                    </th:block>
                </div>

                <div class="form-group">
                    <label class="input-group-addon" for="umatch-id">Unibet match ID:</label>
                    <input type="number" class="form-control" id="umatch-id" name="umatchid" placeholder="Unibet Match  ID" required>
                </div>
                <div class="form-actions">
                    <input type="submit" class="btn btn-block btn-primary" value="Submit">
                </div>
            </form>
        </div>
    </div>
</main>
<footer th:insert="admin/fragments/footer :: footer">
</footer>
</body>
</html>