<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="admin/fragments/head :: head(title=${title})">Empty</th:block>
</head>
<body>
<div th:replace="admin/fragments/menu :: menu">Header</div>
<main class="container">
    <div class="row bg-light missing-event text-center">
        <!--/*@thymesVar id="radarTeamId" type="java.lang.String"*/-->
        <!--/*@thymesVar id="radarTeamName" type="java.lang.String"*/-->
        <h3 th:text="${radarTeamId} ? ${radarTeamName} + ' mapping': 'Create new team mapping'" class="col-sm-10 mx-auto"></h3>
    </div>
    <div class="row">
        <div class="col-sm-6 mx-auto">
            <h3>Teams Mapping</h3>
            <!--/*@thymesVar id="message" type="java.lang.String"*/-->
            <div th:if="${message}">
                <div th:text="${message}"></div>
            </div>
            <form th:action="@{/admin/teams-mapping}" method="post" class="form-horizontal">
                <div class="form-group">
                    <label class="input-group-addon" for="rteam-id">Sportradata team ID:</label>
                    <th:block th:if="${radarTeamId}">
                        <input readonly type="number" class="form-control" name="rteamid" th:value="${radarTeamId}">
                    </th:block>
                    <th:block th:if="!${radarTeamId}">
                        <input type="number" class="form-control" id="rteam-id" name="rteamid" placeholder="Sportradata Team ID" required>
                    </th:block>
                </div>
                <div class="form-group">
                    <label class="input-group-addon" for="uteam-id">Unibet team ID:</label>
                    <input type="number" class="form-control" id="uteam-id" name="uteamid" placeholder="Unibet Team  ID" required>
                </div>
                <div class="form-actions">
                    <input type="submit" class="btn btn-block btn-primary" value="Submit">
                </div>
            </form>
        </div>
    </div>
</main>
<footer th:insert="admin/fragments/footer :: footer">
</footer>
</body>
</html>