body{
    padding-top: 80px;
}
.login-container{
    margin-top: 140px;
}

.nav-item .logout [type="submit"]{
    background: none;
    border:none;
    color: #fff;
    cursor: pointer;
}
.nav-item .dropdown-item{
    color: #fff;
}
.nav-item .dropdown-item:hover, .nav-item .dropdown-item:focus{
    color: #000;
}
.missing-event{
    padding: 40px 0;
}
.form-group .awesomplete{
    width: 100%;
}
.text-color-debug{
    color: forestgreen;
}.text-color-info{
    color: blue;
}
.text-color-warn{
    color: darkgoldenrod;
}
.text-color-error{
    color: crimson;
}
