<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head"></head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" th:fragment="menu">
    <div class="container">
        <a class="navbar-brand" th:href="@{/admin}">Admin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <ul class="navbar-nav col-6">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown-mapping" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Mappings
                    </a>
                    <div class="dropdown-menu bg-primary" aria-labelledby="dropdown-mapping">
                        <a class="dropdown-item" th:href="@{/admin/matches-mapping}" id="match-mapping">Matches
                            mapping</a>
                        <a class="dropdown-item" th:href="@{/admin/teams-mapping}" id="teams-mapping">Teams mapping</a>
                    </div>
                </li>
            </ul>

            <th:block th:if="${#request.getRemoteUser()}">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown-settings" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Settings
                        </a>
                        <div class="dropdown-menu bg-primary" aria-labelledby="dropdown-settings">
                            <a class="dropdown-item" th:href="@{/admin/logger}" id="logger">Logger</a>
                            <a class="dropdown-item disabled" href="#" th:text="${'Version: ' + appVersion}"></a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <form th:action="@{/logout}" method="post" class="logout">
                            <input class="nav-link" type="submit" th:value="${#request.getRemoteUser() + ', log out'}"/>
                        </form>
                    </li>
                </ul>
            </th:block>

        </div>
    </div>
</nav>
<main class="container">

</main>
</body>
</html>

hteams:radar_uni